{% extends 'base.html.twig' %}

{% block title %}Usako - Index{% endblock %}

{% block body %}
    <div id="slider">
        <div class="slider display-flex">
            <figure class="display-flex">
                <figure class="position-absolute slider-icons right">
                    <img src="{{ asset('img/icons.png') }}" alt="icons">
                </figure>
                <figure class="showslider position-absolute">
                    <img src="{{ asset('img/slider/img1.jpg') }}" alt="Image informatique" class="full-size">
                </figure>
                <figure  class="showslider position-absolute transparency">
                    <img src="{{ asset('img/slider/img2.jpg') }}" alt="Image informatique" class="full-size">
                </figure>
                <figure  class="showslider position-absolute transparency">
                    <img src="{{ asset('img/slider/img3.jpg') }}" alt="Image informatique" class="full-size">
                </figure>
            </figure>
            <i class="fas fa-angle-left fa position-absolute left align-self-center white-color circle-icon text-center" id="button_left"></i>
            <i class="fas fa-angle-right fa position-absolute right align-self-center white-color circle-icon text-center" id="button_right"></i>
            <div class="display-flex icon-center">
                <i class="far fa-pause-circle fa-4x position-absolute pause white-color" id="button_pause"></i>
                <i class="far fa-play-circle fa-4x position-absolute play white-color" id="button_play"></i>
            </div>
        </div>
    </div>
    <main>
        <h1>Accueil du site</h1>
        <figure class="d-md-flex justify-content-center p-3 flex-wrap">
            <figure class="w-25 sm-w-100 h-50 p-3 mx-auto text-center">
                <img src="{{ asset('img/skills/html5.svg.png') }}" alt="html5 logo" class="size-img-skills">
            </figure>
            <figure class="w-25 sm-w-100 h-50 p-3 mx-auto text-center">
                <img src="{{ asset('img/skills/css3.svg.png') }}" alt="css3 logo" class="size-img-skills">
            </figure>
            <figure class="w-25 sm-w-100 h-50 p-3 mx-auto text-center">
                <img src="{{ asset('img/skills/js.svg.png') }}" alt="js logo" class="size-img-skills">
            </figure>
            <figure class="w-25 sm-w-100 h-50 p-3 mx-auto text-center">
                <img src="{{ asset('img/skills/php.svg.png') }}" alt="php logo" class="size-img-skills">
            </figure>
            <figure class="w-25 sm-w-100 h-50 p-3 mx-auto text-center">
                <img src="{{ asset('img/skills/symfony.svg.png') }}" alt="symfony logo" class="size-img-skills">
            </figure>
            <figure class="w-25 sm-w-100 h-50 p-3 mx-auto text-center">
                <img src="{{ asset('img/skills/wordpress.svg.png') }}" alt="wordpress logo" class="size-img-skills">
            </figure>
        </figure>
    </main>


{% endblock %}

{% block javascripts %}
    <script src="js/Slider.js"></script>
    <script src="js/script.js"></script>
{% endblock %}
