{% block footer  %}

    <div class="hr-style"><hr></div>

    <footer class=" d-md-flex justify-content-center p-3 flex-wrap">
        <p class="p-3">
            <img src="{{ asset('img/Browser.png') }}" alt="logo" class="logo">
            <a href="{{ path('index') }}">Home</a>
        </p>
        <p class="p-3">
            <img src="{{ asset('img/Camera.png') }}" alt="logo" class="logo">
            <a href="{{ path('projects') }}">Projets</a>
        </p>
        <p class="p-3">
            <img src="{{ asset('img/iPhone.png') }}" alt="logo" class="logo">
            <a href="{{ path('contact') }}">Contact</a>
        </p>
    </footer>

{% endblock %}