{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <main>
        <h1>S'enregistrer</h1>

        <div class="display-flex">
            <figure class="img-form text-center w-25">
                <img src="{{ asset('img/user/img1.png') }}" alt="Image d'enregistrement" class="w-75 circle-rad">
            </figure>

            {{ form_start(form, { 'attr' : { 'class': 'w-25 m-form' } }) }}
            {{ form_row(form.username, {
                'attr': {'placeholder':'Nom d\'utilisateur'},
                'label': "Identifiant"
            }
            )}}
            {{ form_row(form.email, {
                'attr': {'placeholder':'Adresse Email'},
                'label': "Adresse Email"
            }
            )}}
            {{ form_row(form.password, {
                'attr': {'placeholder':'Mot de passe'},
                'label': "Mot de passe"
            }
            )}}
            {{ form_row(form.confirm_password, {
                'attr': {'placeholder':'Retapez votre mot de passe'},
                'label': "Confirmation du mot de passe"
            }
            )}}
            <div class="form-group text-center">
                <button type="submit" class="btn btn-info">S'incrire</button>
            </div>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
